:root {
  --milkglass: #F2F0E7;
  --chocolate: #493327;
  --dark-chocolate: #2D231B;
  --light-bg-color: var(--milkglass);
  --dark-bg-color: var(--dark-chocolate);
  --bg-color: var(--light-bg-color);
  --header-container-color: var(--milkglass);
  --color1: var(--milkglass);
  --color2: #895129;
  --color3: var(--chocolate);
  --color4: #bc9e8260;
  --boxes-border-color: black;
  --font-color: black;
  --activated-navlink-color: var(--color2);
  --activated-navlink-font-color: white;
  --global-font-size: 1em;
}

:root.dark {
  --bg-color: var(--dark-bg-color);
  --header-container-color: var(--chocolate);
  --boxes-border-color: white;
  --font-color: white;
  --activated-navlink-color: var(--milkglass);
  --activated-navlink-font-color: black;
}

* {
  padding: 0px;
  margin: 0px;
}

h3 {
  padding: 10px;
  margin: 5px 20px;
}

a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  font-family: sans-serif;
  /*font-size: var(--global-font-size);*/
}

body h1, h3, a {
  color: var(--font-color);
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
}

header div {
  background-color: var(--header-container-color);
  border: 3px solid var(--boxes-border-color);
  padding: 10px;
  padding-bottom: 1px;
  margin: 10px;
  margin-bottom: 0px;
  width: 90%;
  transition: 0.5s;
  position: fixed;
}

header div h1 {
  padding: 5px;
  margin: 5px;
  transition: 0.5s ease;
}

header div h1:hover {
  padding: 10px;
}

header div nav {
  display: flex;
  align-items: center;
  border: 3px solid var(--boxes-border-color);
  padding: 5px;
  margin-bottom: 10px;
  gap: 10px
}

header div a {
  text-decoration: none;
  margin: 1px;
  transition: 0.5s ease;
}

header div nav.path a:not(:last-child)::after {
  content: ">";
  margin: 0px;
  margin-left: 10px;
}

header div a:hover {
  padding: 4px 8px;
  background-color: var(--activated-navlink-color);
  color: var(--activated-navlink-font-color);
  border-radius: 10px;
}

header div a:activate {
  padding: 3px 6px;
  text-decoration: underline;
}

nav.path {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  
  align-items: center;
  padding: 0px;
  margin: 5px;
  font-size: 0.75em;
  border: none;
}

a.path {
  flex: 0 0 auto;
  padding: 0px;
  margin: 0px;
}

.inside {
  background-color: var(--activated-navlink-color);
  color: var(--activated-navlink-font-color);
  padding: 5px 10px;
  border-radius: 10px;
}

.inside:hover {
  padding: 4px 8px;
}

.inside.topic:hover {
  text-decoration: dotted;
}

main {
  padding-top: 160px;
}

main article {
  background-color: var(--header-container-color);
  border: 3px solid var(--boxes-border-color);
  max-width: 600px;
  width: 85%;
  padding: 10px;
  margin: 30px auto;
  transition: 1s ease;
}

main article:hover {
  padding: 15px;
}

main article h2 {
  background-color: var(--activated-navlink-color);
  color: var(--activated-navlink-font-color);
  padding: 5px 20px;
  margin: 10px;
  border-radius: 10px;
  transition: 0.5s
}

main article h2:hover {
  padding: 10px 25px;
}

main article p {
  background-color: white;
  text-align: justify;
  padding: 20px;
  margin: 20px;
  margin-top: 5px;
  border-radius: 10px;
  transition: 1s ease;
}

ul {
  list-style-position: inside;
  padding: 10px 30px;
  margin: 20px;
  background-color: var(--color4);
}

ul li {
  list-style-type: upper-roman;
  padding: 5px;
}

ul a {
  padding: 5px;
  color: black;
  text-decoration: none;
  transition: 0.5s ease;
}

ul a:hover {
  padding: 3px;
  text-decoration: underline;
}

.twocol {
  column-count: 2;
}

button {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--activated-navlink-color);
  color: var(--activated-navlink-font-color);
  border: 0px;
  transition: 0.5s ease;
}

button:hover {
  padding: 12px;
}

button:active {
  padding: 8px;
  margin: 4px;
}

.slider {
  -webkit-appearance: none;
  display: block;
  justify-self: center; 
  width: 90%;
  height: 10px;
  border-radius: 5px;
  outline: none;
  background: var(--activated-navlink-color);
  margin: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--activated-navlink-color);
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: green;
  border-radius: 50%;
  cursor: pointer;
}